body, html {
    /*To make the background image appear full screen on the landing page*/
    background: url(../images/milky-way-916523_1920.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
}

/* # for id selected, . for class selector*/

#myNavbar {
    /* To make the navbar transparent, !important overrides the value coming from bootstrap*/
    background-color:rgba(21,31,33,0.5) !important;
}

#myNavItem {
    color: white;
    font-weight: bold;
}

#formContainer {
    padding-top: 70px;
}

#bookId {
    flex-direction: row !important;
    color: red;
}

#typedDiv {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

.typedIntro {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#beImg {
    height: 15rem;
    background-color: whitesmoke;
}

#cardId {
    width: 18rem;
}